@model IEnumerable<Entity.Categoria>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Categoria</h2>
<p>
    @Html.ActionLink("Nueva Categoria", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CodCategoria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreCategoria)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CodCategoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreCategoria)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { CCategoria = item.CodCategoria }) |
                @Html.ActionLink("Delete", "Delete", new { CCategoria = item.CodCategoria })
            </td>
        </tr>
    }

</table>





