@model IEnumerable<Entity.TiendaVirtual>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<p>
    @Html.ActionLink("Nueva Tienda Virtual", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NombreTienda)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Link)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreTienda)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Link)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { CTienda = item.CodTienda }) |
                @Html.ActionLink("Delete", "Delete", new { CTienda = item.CodTienda })
            </td>
        </tr>
    }

</table>



